@{
    ViewData["Title"] = "Cards Client";
}
<div class="row">
    <div id="backlog" class="cards-column col-md-3">
        <div class="column-caption">Backlog</div>
    </div>
    <div id="to-do" class="cards-column col-md-3">
        <div class="column-caption">To Do</div>
    </div>
    <div id="in-progress" class="cards-column col-md-3">
        <div class="column-caption">In Progress</div>
    </div>
    <div id="done" class="cards-column col-md-3">
        <div class="column-caption">Done</div>
    </div>
</div>

